
/* CSS Code */
/* Heading */
h1 {
  color: orangered;
  font-size: 45px;
  padding-left: 20px;
}

/* 3*3 Grid */
#b1, #b2, #b3, #b4, #b5,
#b6, #b7, #b8, #b9 {

  width: 80px;
  height: 52px;
  margin: auto;
  border: 1px solid gray;
  border-radius: 6px;
  font-size: 30px;
  text-align: center;
  padding: 10px;
}
#b1.hover,#b2.hover, #b3.hover, #b4.hover, #b5.hover,
#b6.hover, #b7.hover, #b8.hover, #b9.hover{
  color: rgb(226, 141, 36);
}

/* Reset Button */
#but {
  
  box-sizing: border-box;
  width: 95px;
  height: 40px;
 
  border: 1px solid dodgerblue;
  margin: auto;
  border-radius: 4px;
  font-family: Verdana,
    Geneva, Tahoma, sans-serif;

  background-color: dodgerblue;
  color: white;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

/* Player turn space */
#print {
  text-align: center;
  font-family: Verdana,
    Geneva, Tahoma, sans-serif;

  color: dodgerblue;
  font-size: 20px;
}

/* Main Container */
#main {
  text-align: center;
  
}

/* Game Instruction Text */
#ins {
  
  font-family: Verdana,
    Geneva, Tahoma, sans-serif;
    
  color: dodgerblue;
  font-size: 17px;
  padding-left: 30px;
}

#DisplayScore{
  text-align: center;
  font-family: Verdana,
    Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
#table, #th, #td {
  border:1px double rgb(181, 19, 19);
  text-align: center;
  padding: 10px;

}